.btn {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  font-size: 1.5em;
  color: #3ab54b;
  font-weight: bold;
}
body {
  background-color: #ffffff;
  background-image: url("../images/tile.gif");
  font-family: "brandon-grotesque";
}
h1,
h2,
h3,
h4 {
  font-family: "brandon-grotesque";
}
#sliders {
  width: 100%;
}
#debugtxt {
  width: 200px;
  background: #008000;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
#header {
  background-image: url("../images/headertile.png");
  background-size: 100% 100%;
  background-repeat: repeat-x;
  text-align: center;
}
#header img {
  width: 100%;
}
@media (min-width: 768px) {
  #header img {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #header img {
    height: 13em;
    width: auto;
  }
}
@media (min-width: 1200px) {
  #header img {
    height: 13em;
    width: auto;
  }
}
#container {
  width: 95%;
  padding-bottom: 2em;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  #container {
    width: 300px;
    left: -230px;
  }
}
@media (min-width: 992px) {
  #container {
    width: 400px;
    left: -300px;
  }
}
@media (min-width: 1200px) {
  #container {
    width: 450px;
    left: -375px;
  }
}
#container.create {
  padding-top: 0.5em;
}
@media (min-width: 768px) {
  #container.create {
    padding-top: 0.5em;
  }
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  
}
#startscreen,
#creator,
#waitscreen,
#endscreen {
  display: none;
  margin-bottom: 0.5em;
}
#startscreen,
#waitscreen,
#endscreen {
  text-align: center;
}
#creator {
  position: relative;
  padding-top: 0.5em;
}
@media (min-width: 768px) {
  #creator {
    padding-top: 0;
  }
}
#creator.fixed {
  padding-top: 11em;
}
#gradientHolder {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 5;
  margin-bottom: 0.5em;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  #gradientHolder {
    position: inherit;
    width: 300px;
    margin-bottom: 0.5em;
  }
}
@media (min-width: 992px) {
  #gradientHolder {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  #gradientHolder {
    width: 450px;
  }
}
#gradientHolder.fixed {
  position: fixed;
  width: 95%;
}
@media (min-width: 768px) {
  #gradientHolder.fixed {
    position: fixed;
    width: 300px;
  }
}
@media (min-width: 992px) {
  #gradientHolder.fixed {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  #gradientHolder.fixed {
    width: 450px;
  }
}
.canvasHolder {
  width: 100%;
  height: 6em;
  z-index: 5;
}
#testCanvas {
  width: 100%;
  height: 100%;
  /*max-width: 600px;*/
}
#send_button_holder {
  margin: 0.5em auto;
  width: 60%;
  z-index: 6;
}
#timeleft {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  z-index: 6;
  color: #ffffff;
}
#btn_process {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #3ab54b;
  color: #ffffff;
}
#slider {
  width: 200px;
}
.sliderholder {
  border: 1px solid #cccccc;
  padding-bottom: 1em;
  padding-top: 1.5em;
  margin-bottom: 0.5em;
  position: relative;
  text-align: center;
  background-color: #ffffff;
}
.sliderholder .triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4em 4em 0 0;
  border-color: #007bff transparent transparent transparent;
  top: 0;
}
.slider {
  width: 90% !important;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
}
.sliderholder .minicolors {
  position: absolute;
  top: 0;
  left: 0;
}
.sliderholder .delete,
.sliderholder .copy {
  color: #808080;
  background-color: #ffffff;
  border: none;
}
.sliderholder .delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
}
.sliderholder .copy {
  position: absolute;
  top: 0;
  right: 2em;
  font-size: 1em;
}
.sliderholder .minicolors-input {
  height: 28px;
  width: 25px;
  display: none;
  padding-left: 26px;
  border: none;
}
.sliderholder .minicolors-swatch {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.sliderholder .minicolors-theme-default.minicolors {
  width: 2em;
  height: 2em;
}
.slider-handle {
  width: 30px;
  height: 30px;
}
.slider.slider-horizontal .slider-handle {
  margin-left: -15px;
  margin-top: -10px;
}
#btn_add {
  width: 50%;
  margin: 0 auto;
  display: block;
}
#streamframeholder {
  width: 100%;
  height: 0px;
  margin: 0 auto 3.5em auto;
  position: relative;
  padding: 66% 0 0 0;
  font-size: 1em;
  text-align: center;
}
@media (min-width: 768px) {
  #streamframeholder {
    width: 449px;
    position: absolute;
    left: 310px;
    height: 368px;
    padding: 0;
    top: 0.5em;
  }
}
@media (min-width: 992px) {
  #streamframeholder {
    width: 590px;
    height: 471px;
    left: 410px;
    padding: 0;
    top: 0.5em;
  }
}
@media (min-width: 1200px) {
  #streamframeholder {
    left: 460px;
    width: 730px;
    height: 580px;
    padding: 0;
    top: 0.5em;
  }
}
@media (min-width: 768px) {
  #streamframeholder.fixed {
    position: fixed;
    left: auto;
    margin-left: 310px;
    top: 0;
  }
}
@media (min-width: 992px) {
  #streamframeholder.fixed {
    position: fixed;
    left: auto;
    margin-left: 410px;
    top: 0;
  }
}
@media (min-width: 1200px) {
  #streamframeholder.fixed {
    position: fixed;
    left: auto;
    margin-left: 460px;
    top: 0;
  }
}
#streamframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  #streamframe {
    position: relative;
  }
}
@media (min-width: 992px) {
  #streamframe {
    position: relative;
  }
}
@media (min-width: 1200px) {
  #streamframe {
    position: relative;
  }
}
#speedmessage {
  display: none;
}
